.trending {
  position: absolute;
  width: 80px;
  height: 23.6px;
  left: 13.49px;
  top: 5.62px;
  border: 0.876523px solid #0abf53;
  box-sizing: border-box;
  border-radius: 1.75305px;
}

.trendnumber {
  position: absolute;
  width: 75.3px;
  height: 16.86px;
  left: 25.85px;
  top: 336.02px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.411px;
  line-height: 15px;
  color: #0abf53;
  white-space: nowrap;
}
