.post {
  position: absolute;
  width: 236px;
  height: 360.74px;
  top: 20px;
  background: #ffffff;
  border: 1.12381px solid #ececec;
  box-sizing: border-box;
  box-shadow: -3px 3.37143px 6.74286px rgba(0, 0, 0, 0.12);
  border-radius: 4.49524px;
}

.header {
  position: absolute;
  width: 100%;
  height: 53px;
}

.profileimage {
  position: absolute;
  width: 52px;
  height: 53px;
  left: 5px;
  top: 1px;
}

.pic {
  width: 80%;
  border-radius: 60%;
  padding: 5px;
}

.name {
  position: absolute;
  height: 14px;
  width: 90%;
  left: 58px;
  top: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #5b6173;
  white-space: nowrap;
}

.timestamp {
  position: absolute;
  width: 63px;
  height: 15px;
  left: 60px;
  top: 26px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #9a9b9e;
  white-space: nowrap;
}

.container {
  position: relative;
  top: 53px;
  height: 271.5px;
  box-sizing: border-box;
}

.image {
  position: absolute;
  left: 10.11px;
  right: 7.87px;
  height: 159.58px;
}

.text {
  position: absolute;
  width: 206.78px;
  height: 66.3px;
  left: 20.35px;
  top: 174.27px;
  font-family: "Quicksand";
  font-size: 13.4857px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  color: #5b6173;
}

.fullpost {
  position: absolute;
  width: 71.92px;
  height: 16.86px;
  top: 70px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.4211px;
  line-height: 15px;
  color: #0afb53;
}

.footer {
  position: absolute;
  width: 100%;
  height: 34.84px;
  left: 1.12px;
  top: 327.03px;
  border: 1.12381px solid rgba(0, 161, 252, 0.15);
  box-sizing: border-box;
  border-radius: 0px 0px 4.49524px 4.49524px;
  background: rgba(8, 208, 121, 0.2);
  float: left;
}

.trend {
  position: absolute;
  width: 44%;
  height: 23.6px;
  left: 13px;
  bottom: 5.62px;
  border: 0.876523px solid #0abf53;
  box-sizing: border-box;
  border-radius: 1.75305px;
}

.trend text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.4211px;
  line-height: 15px;
  color: #0abf53;
  padding: 10px;
  white-space: nowrap;
}

.sharebutton {
  position: absolute;
  width: 45%;
  height: 34.84px;
  right: 1.12px;
  background: rgba(8, 209, 125, 0.1);
  border: 1.12381px solid rgba(0, 161, 252, 0.15);
  box-sizing: border-box;
  border-radius: 0px 0px 4.49524px 0px;
  cursor: pointer;
}

.sharebutton img {
  position: absolute;
  left: 11.24px;
  top: 4.74px;
}

.sharebutton text {
  position: absolute;
  top: 8.11px;
  left: 32.86px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.4211px;
  line-height: 15px;
  color: #0abf53;
}
