.footer {
  position: absolute;
  width: 100%;
  height: 34.84px;
  left: 1.12px;
  top: 327.03px;
  border: 1.12381px solid rgba(0, 161, 252, 0.15);
  box-sizing: border-box;
  border-radius: 0px 0px 4.49524px 4.49524px;
  background: rgba(8, 208, 121, 0.2);
  float: left;
}

.trend {
  position: absolute;
  width: 44%;
  height: 23.6px;
  left: 13px;
  bottom: 5.62px;
  border: 0.876523px solid #0abf53;
  box-sizing: border-box;
  border-radius: 1.75305px;
}

.trend text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.4211px;
  line-height: 15px;
  color: #0abf53;
  padding: 10px;
  white-space: nowrap;
}

.sharebutton {
  position: absolute;
  width: 45%;
  height: 34.84px;
  right: 1.12px;
  background: rgba(8, 209, 125, 0.1);
  border: 1.12381px solid rgba(0, 161, 252, 0.15);
  box-sizing: border-box;
  border-radius: 0px 0px 4.49524px 0px;
  cursor: pointer;
}

.sharebutton img {
  position: absolute;
  left: 11.24px;
  top: 4.74px;
}

.sharebutton text {
  position: absolute;
  top: 8.11px;
  left: 32.86px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-size: 12.4211px;
  line-height: 15px;
  color: #0abf53;
}
