.vector1 {
  position: absolute;
  left: 45.71px;
  top: 39.53px;
}

.vector2 {
  position: absolute;
  left: 66.82px;
  top: 39.53px;
}

.vector3 {
  position: absolute;
  left: 43.8px;
  top: 78.02px;
}

.vector4 {
  position: absolute;
  left: 73.19px;
  top: 78.02px;
}
